/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($color1, $display) {
    text-align: center;
    display:$display;
    padding: .8rem 3.2rem;
    background-color: $color1;
    color: $blanco;
    transition: all .2s ease;

    &:hover {
        background-color: lighten($color1, 10);
    }
}