.contacto {
    padding-top: 4rem;
}

.no-webp .banner {
    background-image: url('../../../build/img/encuentra.jpg');
}

.webp .banner {
    background-image: url('../../../build/img/encuentra.webp');
}

.banner {
    background-position: center center;
    background-size: cover;
    padding: 16rem 0 20rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2,
    p {
        text-align: center;
        color: $blanco;
        margin: 0 1rem;
    }

    p {
        margin-top: 5.6rem;
    }

    a {
        margin-top: 1.6rem;
        @include boton($amarillo, inline-block);
    }
}