.footer{
    background-color: $gris;

    .contenedor-footer{
        padding-top: 5.6rem;
    }

    .copyright{
        text-align: center;
        font-size: 1.4rem;
        color: $blanco;
    }
}